extends ./layout/index

block slider
    .slider 
        h1 Rio de Janiero 
        em aventura 

block contenido 
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero sint ullam omnis nesciunt, eligendi aut doloremque id repudiandae totam deleniti libero cupiditate ad natus est corporis voluptatibus vel esse.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti maiores vero tempore et aperiam ex. Dolore commodi ea officia non reprehenderit dolores debitis vel illum, libero cumque itaque tenetur dolor!
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes 
    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 20022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales 