extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh augue, dapitate ac, fermentum non neque.
                p sit amet ultricies urna. Praesent in rhoncus augue. Duis scelerisque vestibulum eros id sodales. Morbi arcu ipsum, interdum ac finibus ut, tincidunt nec libero. Etiam mollis egestas libero non pulvinar. Etiam euismod felis sapien, feugiat tempor ligula imperdiet at. . Praesent sed sem et lorem dictum dignissim.
                p volutpat viverra iaculis. Vivamus aliquet ligula et diam sollicitudin condimentum. Integer ac mauris vel mauris faucibus tristique. . Phasellus facilisis accumsan ex quis pretium.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Etiam euismod felis sapien, feugiat tempor ligula imperdiet at. . Praesent sed sem et lorem dictum dignissim.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Etiam euismod felis sapien, feugiat tempor ligula imperdiet at. . Praesent sed sem et lorem dictum dignissim.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Etiam euismod felis sapien, feugiat tempor ligula imperdiet at. . Praesent sed sem et lorem dictum dignissim.
                